/*!
* Ext JS Library 4.0
* Copyright(c) 2006-2011 Sencha Inc.
* licensing@sencha.com
* http://www.sencha.com/license
*/

#poweredby {
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 15000;

    /* IE 5-7 */
    filter: alpha(opacity=70);
    /* Netscape */
    -moz-opacity: 0.7;
    /* Safari 1.x */
    -khtml-opacity: 0.7;
    /* Good browsers */
    opacity: 0.7;
}

#poweredby div {
    position: relative;
    width: 150px;
    height: 25px;
    background-image: url(../images/powered-by-ext-js.png);
    background-repeat: no-repeat;
}

/* The simple background image PNG does not work in IE6-8, but does in IE9 */
.x-ie6 #poweredby div,
.x-ie7 #poweredby div,
.x-ie8 #poweredby div {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/powered-by-ext-js.png', sizingMethod='scale');
}

/*----------------------------------------------------
    Start Button
*/

.ux-start-button-icon {
    background-image: url(../images/taskbar/sencha.gif) !important;
    background-color: transparent;
}

.ux-start-button .x-btn-arrow {
    background-image: none;
}

.ux-taskbar {
    padding-left: 4px !important;
}

/*
    Start Button (Black)
*/

.ux-desktop-black .ux-start-button {
    height: 28px;
    padding: 0px;
    display: block;
}

.ux-desktop-black .ux-start-button em {
    margin-top: 5px;
}

.ux-desktop-black .ux-start-button .x-btn-inner {
    color: black;
    font-size:11px;
    font-weight: bold;
}

.ux-desktop-black .ux-start-button {
    background-image: -moz-linear-gradient(center top , #E4F3FF, #D9EDFF 48%, #C2D8F2 52%, #C6DCF6);
    border-radius: 8px 8px 8px 8px;
    border-color: #81A4D0;
}

/*----------------------------------------------------
    Start Menu
*/

.ux-start-menu-toolbar .x-btn-inner {
    text-align: left;
}

.ux-start-menu-toolbar {
    padding: 4px !important;
}

/*----------------------------------------------------
    TaskBar
*/

/* Use high specificity selector to override default styling*/
div.ux-taskbar div.x-toolbar {
    background: transparent none;
    border: 0 none;
    padding: 0;
}

.ux-desktop-windowbar .x-btn-inner,
.x-nbr .ux-desktop-windowbar .x-btn-icon-text-left button {
    text-align: left !important;
}

/*
    TaskBar (Black)
*/

.ux-desktop-black .ux-taskbar {
    background: transparent url('../images/taskbar/black/taskbar-start-panel-bg.gif') repeat-x left top;
    border-color: transparent;
    /*height: 30px;*/
}

.ux-desktop-black .ux-taskbar .x-splitter {
    background: transparent url(../images/taskbar/black/taskbar-split-h.gif) no-repeat scroll 0 -2px;
}

.ux-desktop-black .ux-taskbar .x-toolbar-text {
    color: white !important;
}

.ux-desktop-black .ux-taskbar .x-btn-default-toolbar-small-over {
    background-color: yellow;
}

.ux-desktop-black .ux-taskbar .x-btn-inner {
    color: white;
}

.ux-desktop-black .ux-taskbar .x-btn-pressed .x-btn-inner, .ux-taskbar .x-btn-over .x-btn-inner {
    color: black;
}

/*----------------------------------------------------
    Tray Clock
*/

.ux-desktop-trayclock {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

/*----------------------------------------------------
    Desktop DataView
*/

.ux-wallpaper {
    background-color: #3d71b8;
}

.ux-wallpaper-tiled {
    background-repeat: repeat;
}


.ux-desktop-shortcut {
    color: #FFFFFF;
    float: left;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 8px;
    width: 88px;
}

.ux-desktop-shortcut:hover {
    background: url("../images/appbutton_mouseover_bg3.png?t=20111011001") no-repeat scroll 1px 0 rgba(0, 0, 0, 0);
}

.ux-desktop-shortcut-icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.appButton_appName {
    color: #FFFFFF;
    cursor: pointer;
    height: 20px;
    margin: 8px 0 0;
    overflow: hidden;
    text-align: center;
}


.appButton_appName_inner {
    background: url("../images/portal_all_png.png?t=20111011016") no-repeat scroll -80px -560px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    line-height: 18px;
    margin: 0;
    max-width: 78px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: 10px;
    vertical-align: middle;
    width: auto;
}

.appButton_appName_inner_right {
    background: url("../images/portal_all_png.png?t=20111011016") no-repeat scroll -166px -560px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 10px;
}


.x-view-over .appButton_appName {

}

/*
    Left Bar
*/



#leftBar {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.dock_container {
    height: 576px;
    left: 0;
    margin: -320px 0 0;
    position: absolute;
    top: 50%;
    width: 73px;
}

.dock_pos_left .dock_middle {
    background: url("../images/dock_l.png?t=20111011001") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.dock_middle {
    height: 566px;
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dock_container .appButton {
    height: 58px;
    margin: 2px 3px 2px 4px;
    padding: 0;
    width: 58px;
}

.appButton {
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 12px;
    height: 88px;
    position: relative;
    width: 88px;
}

.appButton:hover {
    background: url("../images/appbutton_mouseover_bg4.png?t=20111011001") no-repeat scroll center center rgba(0, 0, 0, 0);
}


.dock_container .appButton_appIcon, .aMg_dock_container .appButton_appIcon {
    margin: 5px auto 0;
}

.appButton_appIcon {
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 48px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 48px;
}

.appButton_appIconImg {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}




/*----------------------------------------------------
    Various icon classes
*/

.accordion-shortcut {
    background-image: url(../images/im48x48.png);
}

.cpu-shortcut {
    background-image: url(../images/statusLarge.png);
}

.grid-shortcut {
    background-image: url(../images/grid48x48.png);
}

.notepad-shortcut {
    background-image: url(../images/notepadLarge.png);
    width: 46px;
    height: 46px;
}

.x-ie6 .accordion-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/im48x48.png', sizingMethod='scale');
}

.x-ie6 .cpu-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/statusLarge.png', sizingMethod='scale');
}

.x-ie6 .grid-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/grid48x48.png', sizingMethod='scale');
}

.x-ie6 .notepad-shortcut {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/notepadLarge.png', sizingMethod='scale');
}

.video {
    background-image: url(../images/gears.gif);
}

.bogus {
    background-image: url( ../images/bogus.png ) !important;
}

.notepad {
    background-image: url( ../images/bogus.png ) !important;
}

.logout {
    background-image: url( ../images/logout.gif ) !important;
}

.settings {
    background-image: url( ../images/gears.gif ) !important;
}


.icon-grid {
    background-image:url( ../images/grid.png ) !important;
}
.add {
    background-image:url(../icons/fam/add.gif) !important;
}
.option {
    background-image:url(../icons/fam/plugin.gif) !important;
}
.remove {
    background-image:url(../icons/fam/delete.gif) !important;
}
.save {
    background-image:url(../icons/save.gif) !important;
}
.accordion {
    background-image:url(../images/accordian.gif) !important;
}
.tabs {
    background-image:url(../images/tabs.gif) !important;
}

/*----------------------------------------------------
    IM window icons
*/

.user {
    background-image:url( ../icons/fam/user.gif ) !important;
}

.user-add {
    background-image:url(../icons/fam/user_add.gif) !important;
}

.user-delete {
    background-image:url(../icons/fam/user_delete.gif) !important;
}

.connect {
    background-image:url(../icons/fam/connect.gif) !important;
}

.user-girl {
    background-image:url(../icons/fam/user_female.gif) !important;
}

.user-kid {
    background-image:url(../icons/fam/user_green.gif) !important;
}

.user-suit {
    background-image:url(../icons/fam/user_suit.gif) !important;
}
